# dot files and folders
.venv/
.vscode/
.env

# specific files
update.txt
notes.md
CLAUDE.md
TODO.md

# specific folders
/static/
/crons
/venv
# all folders named as
__pycache__/

.idea/
.claude/