{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class='container col-12 col-md-4 offset-md-4'>

    <div class='content-section mt-5 m-3'>
        <div class="card">
            <div class="card-header bg-dark text-white font-weight-bold text-center">
                Login / Register
            </div>

            <form method='POST'>
                {% csrf_token %}
                <fieldset class='form-group'>
                    <div class="form-group m-3">
                        <label for="apikey"> API Key (Limited is enough) </label>
                        <input type="text" class="form-control" name="apikey" aria-describedby="emailHelp"
                            placeholder="Enter your API key">
                        <small id="emailHelp" class="form-text text-muted">
                            We'll never share your API Key with anyone else.
                            <br/>
                            By entering your key and using this site, you agree to the <a href="{% url 'tos' %}">ToS</a></small>
                            <br/>
                            Find your <a href="https://www.torn.com/preferences.php#tab=api" target="_blank"> API
                                Key</a></small>
                    </div>
                    <button class='btn btn-primary m-3 text-white btn-outline-dark' type='submit'>Log
                        in</button>
        </div>
        </form>
    </div>
</div>
</div>
{% endblock content %}