{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load humanize %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class='container'>

  {% if user_settings.tutorial == True%}
  <div class="card bg-info small mt-3">
    <div class="card-header p-0 m-0">
      <h5 class='text-center'>
        Tutorial: Welcome to your Analytics Dashboard
      </h5>
    </div>
    <div class="card-body m-0 p-1">
      <ul>
        <li>
          Here you can view all of your trade statistics and graphs.
        </li>
        <li>
          Once you have confirmed a trade and generated a receipt, the data will be formatted into a analytical summary
          for you to see.
        </li>
        <li>
          If you need to remove any incorrect receipts, simply click the bin icon next to each one.
        </li>
      </ul>
    </div>
    <div class="card-footer p-1 m-0">
      <small class="text-muted text-center">To turn off help messages go to your <a
          href="{% url 'settings' %}">Settings</a>.</small>
    </div>
  </div>
  {% endif %}

  {% if has_data == False%}
  <div class="container mt-2">
    You have not yet registered any trades, try creating a trade using the <a
      href="{% url 'calculator' %}">calculator</a> tool
  </div>
  {% endif %}
  <div class="row mt-5">
    <div class="col-md-6 col-sm-12">
      {%include 'main/includes/dashboard_cards/main_statistics.html'%}
    </div>
    <div class="col-md-6 col-sm-12">
      {%include 'main/includes/dashboard_cards/top_sellers.html'%}
    </div>
    <div class="col-md-12 col-sm-12">
      {%include 'main/includes/dashboard_cards/receipt_history.html'%}
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="card mt-3">
        <div class="card-header bg-dark text-white">
          Number of trades
        </div>
        <div class="card-body">
          <div class="chart-container" style="position: relative;">
            <div id="number_of_trades_chart"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card mt-3">
        <div class="card-header bg-dark text-white">
          Profits
        </div>
        <div class="card-body">
          <div class="chart-container" style="position: relative;">
            <div id="profits_last_week_chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script>
  Apex.colors = ['#1f2739']
  var options_graph_1 = {
    chart: {
      type: 'bar'
    },
    series: [{
      name: "Number of Trades",
      data: {{ data_graph_1| safe}}
    }],
  xaxis: {
    type: "datetime"
  }
  }


  var chart_1 = new ApexCharts(document.querySelector("#number_of_trades_chart"), options_graph_1);
  chart_1.render();

  var options_graph_2 = {
    chart: {
      type: 'line'
    },
    series: [{
      name: "Profits",
      data: {{ data_graph_2| safe}}
    }],
  dataLabels: {
    formatter: numberWithCommas,
    },
  xaxis: {
    type: "datetime"
  },
  yaxis: {
    labels: {
      formatter: function (value) {
        return "$" + numberWithCommas(value);
      }
    }
  }
  }


  var chart_2 = new ApexCharts(document.querySelector("#profits_last_week_chart"), options_graph_2);
  chart_2.render();

  //var ctx1 = document.getElementById('profits_last_week_chart').getContext('2d');
  //console.log(format_values_list({{last_week_profits|safe}}));
  //var profits_last_week_chart = new Chart(ctx1, {
  //    type: 'bar',
  //    data: {
  //        labels: {{last_week_days|safe}},
  //        datasets: [{
  //            data: {{last_week_profits|safe}},
  //            backgroundColor: 
  //                'rgba(31,39,57)',
  //            borderColor:
  //                'rgba(0, 0, 0)',
  //            borderWidth: 1
  //        }]
  //    },
  //    options: {
  //          legend: {
  //            display: false
  //        },
  //        scales: {
  //            yAxes: [{
  //                ticks: {
  //                    beginAtZero: true,
  //                    callback: function(value, index, values) {
  //                      return '$' + shortenLargeNumber(value);
  //                  }
  //                }
  //            }]
  //          }
  //      }
  //}
  //);

  function format_values_list(values_list) {
    var output_list = []
    values_list.forEach(function (entry) {
      output_list.push('$' + numberWithCommas(entry))
    })
    return output_list
  }
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }
  function shortenLargeNumber(num, digits) {
    var units = ['k', 'M', 'B', 'T', 'Q', 'E', 'Z', 'Y'],
      decimal;

    for (var i = units.length - 1; i >= 0; i--) {
      decimal = Math.pow(1000, i + 1);

      if (num <= -decimal || num >= decimal) {
        return +(num / decimal).toFixed(digits) + units[i];
      }
    }

    return num;
  }
</script>
{% endblock content %}