{% extends "main/base.html" %}
{% block content %}
<div class='container' id='main-container'>
    {% if user_settings.tutorial == True%}
    <div class="card bg-info small mt-3">
        <div class="card-header p-0 m-0">
            <h5 class='text-center'>
                Tutorial: Welcome to your Trade Calculator
            </h5>
        </div>
        <div class="card-body m-0 p-1">
            <ul>
                <li>
                    Once you have received a trade request from a user, copy the text found in the trade log as shown in
                    the placeholder text in the input box and press the Calculate button.
                </li>
                <li>
                    Torn Exchange will then fetch your buy prices from your Price List to pre-fill a trade which will
                    appear on the right hand side of the screen.
                </li>
                <li>
                    You can adjust any of the prices that appear should you have made any discounts or negotiations with
                    the user.
                    Any items which haven't yet got a set buy price in your listings will appear as '0' which you must
                    change to the correct price.
                </li>
                <li>
                    When you are happy with the trade and the total amount, simply click Confirm Trade and your receipt
                    will be generated for you to send to the seller. Congratulations on your trade!
                </li>
            </ul>
        </div>
        <div class="card-footer p-1 m-0">
            <small class="text-muted text-center">To turn off help messages go to your <a
                    href="{% url 'settings' %}">Settings</a>.</small>
        </div>
    </div>
    {% endif %}

    <!-- Heading -->
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12 text-center mb-3 mt-3">
            <h1>Trade Calculator</h1>
        </div>
    </div>

    <!-- Buttons -->
    <div class="row">
        <div class="text-center col-12 mb-3">
            <p>You can do calculations on Chrome, Firefox or Torn PDA!</p>
            <p>Don't forget to set custom trading message in <a href="{% url 'settings' %}">Settings</a>.</p>
            <a class='btn btn-primary'
                href="https://chromewebstore.google.com/detail/torn-exchange/iggcinpeofcbplffobefiojjgfeoblll"
                target="_blank">
                <img src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/48/Chrome-icon.png"
                    style="width: 16px; height: 16px;" />
                Chrome extension
            </a>
            <a class='btn btn-primary' href="https://addons.mozilla.org/en-GB/firefox/addon/torn-exchange-2-0/"
                target="_blank">
                <img src="https://icons.iconarchive.com/icons/morcha/browsers/48/Firefox-icon.png"
                    style="width: 16px; height: 16px;" />
                Firefox extension
            </a>
            <a class='btn btn-primary' href="https://github.com/Manuito83/torn-pda" target="_blank">
                <img src="https://raw.githubusercontent.com/Manuito83/torn-pda/refs/heads/master/images/icons/pda_icon.png"
                    style="width: 16px; height: 16px;" />
                Torn PDA
            </a>

        </div>
    </div>

    <div class='row'>
        <!-- Calculator -->
        <div class='col-md-6 col-sm-12'>
            <div class='card mt-3'>
                <div class='card-header bg-dark text-white text-center'>
                    Calculator
                </div>
                <form id="text-input-form" method="POST">
                    <div class="card-body">
                        {% csrf_token %}
                        <div class="form-group col-sm-12">
                            <label for="textarea1">Paste your trade log here as in the example below</label>
                            <textarea class="form-control" id="textarea1" rows="8"
                                placeholder='Duke added 900x Chamois Plushie to the trade.'></textarea>
                        </div>
                    </div>
                    <div class="card-footer bg-dark">
                        <button class='btn btn-primary border-white text-white ml-3' type="submit">Calculate</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Trade Details -->
        <div class='col-md-6 col-sm-12 mt-3' id='table-div' class='card bg-dark b-1 text-white'>
            <div class='card'>
                <div class='card-header bg-dark text-white text-center'>
                    Trade Details
                </div>
                <div class="card-body" id="trade-details-card-body">
                    <p class="text-muted">Paste trade log in the input area. Trade items will be displayed here.
                </div>
            </div>
        </div>
        <div id='output_area'>

        </div>
    </div>

    <!-- Footer -->
    {%include 'main/includes/footer.html'%}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('submit', '#text-input-form', function (e) {
            e.preventDefault();
            var owner_username = '{{user.profile.name}}'
            $.ajax({
                type: 'POST',
                url: '{% url "trade_paste" %}',
                data: {
                    'prompt': $('#textarea1').val(),
                    'profile': owner_username,
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                },
                success: function (json) {
                    $('#confirmtrade').parent().show()
                    $('#table-div').empty()
                    $('#table-div').html(`
                    <div class='card'>
                    <div class='card-header bg-dark text-white text-center'>Trade with <strong id='seller-name'>`+ json.name + `</strong></div>
                    <div id='trade-details-body' class='m-3'>
                        <table class='table table-hover table-sm small' id='output-table'>
                            <thead>
                            <tr>
                                <th scope="col" class='text-center' style='width: 20%;'></th>
                                <th scope="col" class='text-center' style='width: 15%;'>Item</th>
                                <th scope="col" class='text-center' style='width: 5%;'>Qty</th>
                                <th scope="col" class='text-center' style='width: 15%;'>Market $</th>
                                <th scope="col" class='text-center' style='width: 25%;'>Price</th>
                                <th scope="col" class='text-center' style='width: 15%;'>Profit</th>
                                <th scope="col" class='text-center' style='width: 20%;'>Subtotal</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                      </div>`);
                    var total_price = 0
                    console.log(json.market_prices)
                    window.market_values = json.market_prices;
                    window.items = json.items
                    window.qty = json.qty
                    var profit_from_trade = 0

                    $(json.items).each(function (i, item) {
                        total_price += json.price[i] * json.qty[i]
                        profit_from_trade += (json.market_prices[i] - json.price[i]) * json.qty[i]
                        $('<tbody>').html("<tr class='text-center row-striped input-row'>" +
                            "<td class='text-center><img style='max-width:90%;'src='" + json.img_url[i] + "'></td>" +
                            "<td class='text-center name_input'>" + json.items[i] + "</td>" +
                            "<td class='text-center quantity quantity_input' >" + numberWithCommas(json.qty[i]) + "</td>" +
                            "<td class='text-center market-price'>$" + numberWithCommas(json.market_prices[i]) + "</td>" +
                            "<td ><input class='text-center small form-control price price_input input-sm' style='padding: 0.05rem !important; font-size: 0.8rem;' value='" + numberWithCommas(json.price[i]) + "'></input></td>" +
                            "<td class='text-center profit-per-item'>$" + numberWithCommas((json.market_prices[i] - json.price[i]) * json.qty[i]) + "</td>" +
                            "<td class='total'>$" + numberWithCommas(json.qty[i] * json.price[i]) + "</td>/tr></div>").appendTo('#output-table');
                    })

                    $('#table-div').append("<div class='card-footer bg-dark'><button class='btn btn-primary border-white' id='confirmtrade'>Confirm Trade</button></div></div>")


                    $('tfoot').append(`<tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Grand Total: </strong></td>
                            <td><strong>$`+ numberWithCommas(total_price) + `</strong></td>
                            </tr>
                            <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total Profit: </strong></td>
                            <td><strong>$`+ numberWithCommas(profit_from_trade) + `</strong></td>
                            </tr>
                            
                            `)
                },
                error: function (json) {
                    alert('Make sure to paste the trade log message on the textbox, including the sellers name, and to include a valid price');
                }
            });
        });

        function updated_profit(itemname, newprice) {
            var index_ = window.items.findIndex(name => name == itemname);
            var market_price = window.market_values[index_]
            var qty = window.qty[index_]
            var newprofit = (market_price - newprice) * qty
            console.log(index_, market_values, qty, newprofit)
            return (market_price - newprice) * qty
        };

        $('body').on('change', '.price', function () {
            console.log('changed')
            var parent = $(this).closest('tr');
            parent.find('.total').html('$' + numberWithCommas(numberWOCommas(parent.find('.quantity').html()) * parseFloat(numberWOCommas(parent.find('.price').val()))))
            parent.find('.profit-per-item').html('$' + numberWithCommas(updated_profit(parent.find('.name_input').html(), parseFloat(numberWOCommas(parent.find('.price').val())))))
            console.log(parseFloat(parent.find('.price').val()))
            console.log(window.market_values)
            grand_total = $('.total').toArray().map(x => numberWOCommas(removeDollar(x.innerHTML))).reduce((sum, x) => sum + x);

            total_profit = $('.profit-per-item').toArray().map(x => numberWOCommas(removeDollar(x.innerHTML))).reduce((sum, x) => sum + x);

            $('tfoot').html(`<tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Grand Total: </strong></td>
                <td><strong>$`+ numberWithCommas(numberWOCommas(grand_total)) + `</strong></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total Profit: </strong></td>
                <td><strong>$`+ numberWithCommas(numberWOCommas(total_profit)) + `</strong></td>
              </tr>
              
              `)
        });


    });

    $(document).on('click', '#confirmtrade', function (e) {
        e.preventDefault();
        var owner_username = '{{user.profile.name}}';
        var seller_username = $('#seller-name').html();

        var item_names = $('.input-row').get().map(function (row) {
            return $(row).find('.name_input').get().map(function (cell) {
                return $(cell).html();
            });
        });
        var item_quantities = $('.input-row').get().map(function (row) {
            return $(row).find('.quantity_input').get().map(function (cell) {
                return numberWOCommas($(cell).html());
            });
        });
        var item_prices = $('.input-row').get().map(function (row) {
            return $(row).find('.price_input').get().map(function (cell) {
                return numberWOCommas($(cell, 'input').val());
            });
        });

        $.ajax({
            type: 'POST',
            url: '{% url "create_receipt" %}',
            data: {
                'item_names': JSON.stringify(item_names),
                'item_quantities': JSON.stringify(item_quantities),
                'item_prices': JSON.stringify(item_prices),
                'owner_username': owner_username,
                'seller_username': seller_username,
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            },
            success: function (json) {
                $("#textarea1").val('')
                $("#trade-details-card-body").empty()
                $("#trade-details-body").empty()
                window.scrollTo(0, 0);
                var origin = window.location.origin;
                var receipt_url_path = origin + '/receipt/' + json.receipt_id
                $('.alert-success').remove()
                $('#confirmtrade').parent().hide()

                let header = $('#seller-name').parent();
                header.removeClass('bg-dark').addClass('bg-success');
                header.text(header.text() + " finished!"); 

                function writeToClipboard(textToCopy, callback) {
                    navigator.clipboard.writeText(textToCopy)
                        .then(() => {
                            // Clipboard write succeeded
                            if (callback) {
                                callback(null, 'Text copied to clipboard successfully.');
                            }
                        })
                        .catch((err) => {
                            // Clipboard write failed
                            if (callback) {
                                callback(err, 'Failed to copy text to clipboard.');
                            }
                        });
                }

                let trade_msg = `<p>
                        <b>Message: </b>No message. Set one in the Settings.
                    </p>`;
                if (json.trade_message) {
                    trade_msg = `<p>
                        <b>Message: </b><span id="trade-message" class='copy-text'>` + json.trade_message + `</span>
                        <a href="#" class="btn btn-outline-secondary btn-sm active" title='Click to copy to clipboard' role="button" aria-pressed="true">Copy</a>
                    </p>`;
                }

                // write trade details
                $('#trade-details-body').append(
                    `<p>
                        <b>Total: </b>$<span id="trade-total" class='copy-text'>`+ json.total + `</span>
                        <a href="#" class="btn btn-outline-secondary btn-sm active" title='Click to copy to clipboard' role="button" aria-pressed="true">Copy</a>
                    </p>
                    <p>
                        <b>Receipt: </b><span id="trade-receipt" class='copy-text'><a href="`+ receipt_url_path + `"> ` + receipt_url_path + `</a></span>
                        <a href="#" class="btn btn-outline-secondary btn-sm active" title='Click to copy to clipboard' role="button" aria-pressed="true">Copy</a>
                    </p>
                    ` + trade_msg
                )

                // listen to parent because button does not yet exist
                // at the time of the page load
                $('.btn-outline-secondary').on('click', function (e) {
                    e.preventDefault(); // Prevent the default anchor behavior
                    let totalText = $(this).parent().find('.copy-text').text();
                    writeToClipboard(totalText, (error) => {
                        if (error) {
                            window.prompt("Copy to clipboard: Ctrl+C, Enter", totalText);
                        } else {
                            const $this = $(this);
                            const backup = $this.html(); // Store the current HTML
                            $this.html("Copied!"); // Update the content to "Copied!"
                            setTimeout(() => {
                                $this.html(backup); // Restore the original content after 1.5 seconds
                            }, 1500);
                        }
                    });
                });
            },
            error: function (json) {
                alert('Make sure to paste the trade on the textbox, including the sellers name, and to include a valid price');
            }

        });


    });

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
    function removeDollar(x) {
        return x.toString().replace('$', "");
    }
    function numberWOCommas(x) {
        return parseFloat(x.toString().replaceAll(/,/g, ''));
    }

    /**
     * This function takes trader's template message as a parameter,
     * searches for a price number and formats it with commas for easier read.
     * @param {*} inputString template message from server
     * @returns template message with formatted prices
     */
    function formatTemplateNumbers(inputString) {
        inputString = escape(inputString);

        // Regular expression to match numbers preceded by a dollar sign
        var pattern = /\$\d+(,\d{3})*(?:\.\d+)?/g;

        // Replace matched numbers with commas
        var formattedString = inputString.replace(pattern, function (match) {
            // Remove dollar sign and commas from the match
            var number = match.replace(/\$|,/g, '');
            // Format the number with commas
            return '$' + parseFloat(number).toLocaleString();
        });

        return formattedString;
    }

</script>

<style>
    #table-div {
        margin-top: 20px;
        border: black;
        border-radius: 1px;
    }

    table {
        border: black;
    }

    table td {
        border: black;
        border-radius: 1px;
    }
</style>
{%endblock%}