{% extends "main/base.html" %}
{% block content %}
{% load static %}
<div class='container'>
    <div class="card mt-3 ">
        <div class="card-header bg-dark text-white">
            Contact Us
        </div>
        <div class="card-body">

            <p class='mt-10'>
            <p>
                Torn Exchange was developed by HypoChris [2500210] so as to combine trading tools with a sense of the
                greater trading community.
            </p>
            <p>
                We are still in the early stages of development, and so are actively listening out for any suggestions
                from our users. We can guarantee that your suggestions will be considered, and we are doing our best to
                improve the site's functionality in order to provide the best user experience that we can.
            </p>
            <p>
                Contact us if you have any questions or comments:
            </p>
            <p>
            <div class="row">
                <div class="col-2">
                    Developer:
                    <br>
                    Designer/admin:

                </div>
                <div class="col-10">
                    <a href='https://www.torn.com/profiles.php?XID=2500210'> <strong>HypoChris [2500210]</strong></a>
                    <br>
                    <a href='https://www.torn.com/profiles.php?XID=2531845'> <strong>Hannihilator [2531845]</strong></a>
                </div>
            </div>

            </p>
            </p>
            <hr>
            <br>
            <div class="row">
                <div class="col-2 text-center"><a href='https://discord.gg/8NstjM2fbb'><img
                            src="{% static '/main/images/discord_logo.png' %}" style="width: 60%;"></a></div>
                <div class="col-10 mt-2">We also have a Discord server where we will be able to speak with you regarding
                    any ideas, questions or problems you may have. To send us a message now, simply click on the icon!
                </div>
            </div>
            <p>

            </p>
        </div>
    </div>

</div>

<div class='container'>
    <div class="card mt-3 ">
        <div class="card-header bg-dark text-white">
            Acknowledgements
        </div>
        <div class="card-body">

            <p class='mt-10'>
            <p>
                When we started to bring TE to life, we didn't expect to receive such positive encouragement from our
                fellow users and yet we have already had a huge amount of users reaching out to us to say how much they
                love the site.
                <br>
                <br>
                Some players have been particularly supportive in providing us with feedback and helping us to further
                TE's presence in the Torn trading community. We would like to give special thanks to:
                <br>
                <br>
                <a href='https://www.torn.com/profiles.php?XID=2363334'>Tachikaze[2363334]</a> - Tachi is also happy to
                answer any questions which new users may have about getting used to TE, so feel free to send him a
                message!
                <br>
                zakolol1[2320085]
                <br>
                CrazyMF[2499994]
                <br>
                -Sloth-[2169906]
                <br>
                Arsenal_Sprite[2470349]
            </p>
            </p>
        </div>
    </div>

</div>


{% endblock %}