{% extends "main/base.html" %}
{% block content %}
{% load static %}

<div class='container'>
    {% if user_settings.tutorial == True%}
    <div class="card bg-info small mt-3">
        <div class="card-header p-0 m-0">
            <h5 class='text-center'>
                Tutorial: Welcome to Torn Exchange
            </h5>
        </div>
        <div class="card-body m-0 p-1">
            <ul>
                <li>
                    Hey {{profile.name}}, welcome to Torn Exchange (or TE for short)! Thank you for joining us in your
                    business ventures. In order to help you find your way around the website, you will find these grey
                    tutorial cards at the top of the pages explaining what to do and how to use our trading features.
                    Shall we begin?
                </li>
                <li>
                    You can click Listings to see all of the various search pages (item buy prices set by TE traders
                    which you can filter by name, price and ranking, revivers and loss sellers) to find the best deals.
                    You can also see whether users are online or not if you need a swift trade!
                </li>
                <li>
                    <b>If you are a trader</b>, you can click My Price List to view your price list which you can add
                    your buy items to and share with your clients. Once you have set all of your prices on there, you
                    can go to the copy and paste Trade Calculator (by clicking Calculator in the nav bar) where you can
                    generate a receipt to send to your clients after a trade. Finally, click on your username to view
                    your analytics dashboard of every trade you have made on TE and delete any incorrect trades in your
                    receipt history.
                </li>
                <li>
                    <b>Job seekers, revivers and loss sellers</b> - to add your listings, go to settings and tick the
                    correct box, fill in a custom message and that's it! You're all set!
                </li>
                <li>
                    Now, have a browse around the website and contact us if you have any further questions! Happy
                    trading!
                </li>
                <li>
                    If you no longer wish to see these help cards, you can simply go onto your settings page and un-tick
                    the Show Page Tutorials check box.
                </li>
            </ul>
        </div>
        <div class="card-footer p-1 m-0">
            <small class="text-muted text-center">To turn off help messages go to your <a
                    href="{% url 'settings' %}">Settings</a>.</small>
        </div>
    </div>
    {% endif %}

    <div class='row'>
        <div class='col-12 m-3'>
            <h1 class="display allerta-font text-center">
                A community for <a href="https://www.torn.com">Torn</a> traders, buyers and sellers
            </h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3 col-sm-12'>
            <!-- {%include 'main/includes/top_active_traders.html'%} -->
            {%include 'main/includes/most_receipts.html'%}
            {%include 'main/includes/leaderboard.html'%}
            <p class="p-4 small mr-3 text-center">
                <strong>{{ created_today }}</strong> users registered in last 30 days
            </p>

        </div>
        <div class='col-md-6 col-sm-12 align-content-center text-center'>
            <div class="row">
                <div class="col-6">
                    <div class="card mt-3" style="height:200px">
                        <div class="card-header text-center bg-dark text-gold">
                            <i class="fa-solid fa-arrows-rotate"></i> <b>For Traders</b>
                        </div>
                        <div class="card-body text-left pl-1">
                            <ul class="list-group list-group-flush">
                                {% if profile %}
                                    <il class="list-group-item my-0">
                                        <a href="{% url 'edit_price_list' %}">Edit price list</a>
                                    </il>
                                    <il class="list-group-item my-0">
                                        <a href="{% url 'edit_services' %}">Edit custom services</a>
                                    </il>
                                {% else %}
                                    <il class="list-group-item my-0">
                                        <a href="{% url 'edit_price_list' %}">Create a price list</a>
                                    </il>
                                    <il class="list-group-item my-0">
                                        <a href="{% url 'edit_services' %}">Add custom services</a>
                                    </il>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="card mt-3" style="height:200px">
                        <div class="card-header text-center bg-dark text-gold">
                            <i class="fa-solid fa-sack-dollar"></i> <b>For Sellers</b>
                        </div>
                        <div class="card-body text-left pl-1">
                            <ul class="list-group list-group-flush">
                                <il class="list-group-item my-0">
                                    <a href="{% url 'listings' %}">Search items and traders</a>
                                </il>
                                <il class="list-group-item my-0">
                                    <a href="{% url 'search_services' %}">Search custom service</a>
                                </il>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <hr />
                </div>
            </div>


            <img src="{% static '/main/images/logocentral.png' %}" class='img-fluid logocentral mt-3'
                style="max-width: 50% !important;">
            <p>
            </p>
            <div class="pt-3">
                {% if not profile %}
                <div class="btn btn-primary">
                    <a class="allerta-font h5 text-white" href="{% url 'login' %}"> Join Now </a>
                </div>
                {% endif %}
                <p class="mt-2">
                <p>Want to know more about Torn Exchange?
                    <br>
                    Visit our <u>
                        <a href="https://www.torn.com/forums.php#/p=threads&f=67&t=16383769&b=0&a=0">forum thread</a>
                    </u>
                    or join our <a href='https://discord.gg/8NstjM2fbb'><u>Discord server</u></a>.
                </p>
                </p>
            </div>
            <div class="row mt-5 card-text">
                <div class='col'>
                    <i class="fas fa-user-group h3"></i>
                    <p>
                        At Torn Exchange we aim to provide a unique space for traders which not only facilitates trades,
                        but also gives a greater sense of the trading community.
                    </p>
                </div>
                <div class='col'>
                    <i class="fas fa-star-half-alt h3"></i>
                    <p>
                        We wanted to take the forum ratings one step further, so if you become a top rated trader on
                        Torn Exchange future clients can easily find you on the homepage.
                    </p>

                </div>
                <div class='col'>
                    <i class='fas fa-chart-simple h3'></i>
                    <p>
                        Keep track of your trades with a built in analytics dashboard which has all the statistics you
                        need to maximise profits and visualise your progress.
                    </p>
                </div>

            </div>

        </div>
        <div class="col-md-3 col-sm-12">
            {%include 'main/includes/changelog.html'%}
            <p class="p-4 small mr-3 text-center">
                <strong>{{ number_of_changes_last_month }}</strong> changes in the last month.
            </p>
            <div class="container">
                <div class="card mt-3" style="height:175px">
                    <div class="card-header text-center text-white" style="background-color: rgb(31, 39, 57);">
                        <i class="fas fa-puzzle-piece"></i> Extension
                    </div>
                    <div class="card-body">
                        <div class="row small">
                            <div class="col-12 small pb-2 mb-2 text-center">
                                Download our TE extension here
                                <hr>
                                <p class="small mt-0 pb-2">
                                    <a
                                        href="https://chrome.google.com/webstore/detail/torn-exchange/iggcinpeofcbplffobefiojjgfeoblll">
                                        <img src="{% static '/main/images/chrome-icon.png'%}" style="max-width: 30%;"
                                            class="m-1">
                                    </a>
                                    <a href="https://addons.mozilla.org/en-GB/firefox/addon/torn-exchange-2-0/">
                                        <img src="{% static '/main/images/firefox-icon.png'%}" style="max-width: 30%;"
                                            class='m-1'>
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{%endblock%}