{% extends "main/base.html" %}
{% block content %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
<div class="container" id="main-container">
    {% if owner_profile.torn_id == user_profile.torn_id %}
        {% if user_settings.tutorial == True %}
        <!-- TUTORIAL -->
        <div class="card small mt-3">
            <div class="card-header p-0 m-0">
                <h5 class="text-center card-header">
                    Tutorial: Welcome to your Price List
                </h5>
            </div>
            <div class="card-body m-0 p-3">
                <ul>
                    <li>
                        Set your buying prices by clicking on the 'Change Prices' button.
                    </li>
                    <li>
                        Once your prices have been set, you can share the URL of this page to other Torn players, and they
                        will be able to view your prices and trade with you.
                    </li>
                    <li>
                        If you have set a profit margin, your prices will automatically update every 10 minutes to match the
                        market value. Otherwise they will remain the fixed prices which you originally set.
                    </li>
                    <li>
                        You can add a link to your trades forum thread and customise the message displayed in the textbox at
                        the top of your price list by visiting your <a href="{% url 'settings' %}">settings</a>.
                    </li>
                </ul>
            </div>
            <div class="card-footer p-1 m-0">
                <small>To turn off help messages go to your <a href="{% url 'settings' %}">Settings</a>.</small>
            </div>
        </div>
        {% endif %}
    {% endif %}
    
    <br>

    {%include 'main/includes/profile_card.html'%}
</div>

<!-- PRICE LIST -->
<div class="container">
    <div class="row row-cols-2">
    <div class=" text-left">
        Last trade made by this trader: {{time_since_last_trade|naturaltime}}
    </div>
    <div style="text-align: right;">
        Prices last updated: {{last_updated|naturaltime}}
    </div></div>
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-sm-12 col-md-4 col-lg-4 search-container">
            <input type="search" style="width: 100%" class="form-control" id="searchInput" placeholder="Search for an item...">  
        </div>
    </div>
    <div class='row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3'>
        {% for itype in item_types %}

        {% comment %} {% if forloop.counter0|divisibleby:4 %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- TE-SquareAds -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5083091252165465"
            data-ad-slot="4187308828" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {% endif %} {% endcomment %}
        
        <div class="col category">
            <div class='card price_table'>
                <div class="card-header mb-0 pb-0 p-0">
                    <h5 class="allerta-font card-header">
                        {{itype|item_plurals}}
                    </h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th style="width: 20%;" scope="col" class="px-2 m-0"></th>
                                <th style="width: 50%;" scope="col" class="ps-2 m-0">Item Name</th>
                                <th style="width: 30%;" scope="col" class="p-0 m-0">Buy Price</th>
                            </tr>
                        </thead>
                        <tbody class="my_tbody">
                            {%for item in items%}
                            {% if item.item.item_type == itype%}
                            <tr class="row-striped p-0 item">
                                </td>
                                <td style="width: 20%;" class="px-2 m-0"><img src="{{item.item.image_url}}" style="width: 100%;"></td>
                                <td style="width: 45%;" class="ps-2 m-0">{{item.item.name}}</td>
                                <td style="width: 35%;;" class="p-0 m-0">${{item.effective_price|intcomma}}</td>
                            </tr>
                            {% endif%}
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
</div>

<script>
    const show_message = function(type, message) {
        $('.alert-success').remove()
        $('.alert-warning').remove()

        $('#main-container').prepend(
            `<div class="alert alert-` + type + `">` + message + `</div>`
        );
    }

    const vote = function(direction) {
        var voter_username = '{{user.profile.name}}'
        var owner_username = '{{owner_profile.name}}'
        $.ajax({
            type: 'POST',
            url: '{% url "vote_view" %}',
            data: {
                'direction': direction,
                'owner_username': owner_username,
                'voter_username': voter_username,
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            },
            success: function (json) {
                $('#vote-score').empty()
                $('#vote-score').html('' + json.vote_score + '')
                $('#vote-count').empty()
                if (json.vote_count == 1) {
                    $('#vote-count').html('' + json.vote_count + ' vote')
                }
                else {
                    $('#vote-count').html('' + json.vote_count + ' votes')
                }

                show_message("success", "Voted!");
            },
            error: function (json) {
                const e = json.responseJSON.error;
                if(e == "User not logged in") {
                    alert("You need to log in first! Redirecting...");
                    const url_to_go = location.origin + "/login/?next=" + location.pathname;
                    location.href = url_to_go;
                } else {
                    show_message("warning", e);
                }

            }
        });
    }

    $(document).on('click', '#vote-down', function (e) {
        e.preventDefault();
        vote("down")
    });
    $(document).on('click', '#vote-up', function (e) {
        e.preventDefault();
        vote("up")
    });
    
    // SEARCH
    $(document).ready(function () {
        $("#searchInput").val(''); // Clears the input field

        // Function to update category visibility
        function updateCategoryVisibility() {
            const categories = $(".category");

            categories.each((index, category) => {
                const visibleItems = $(category).find('.item:not([style*="display: none"])',
            );
            if (visibleItems.length === 0) {
                category.style.display = "none";
            } else {
                category.style.display = "";
            }
            });
        }

        $("#searchInput").on("input", function () {
            const searchTerm = $(this).val().toLowerCase();
            const items = $(".item");

            items.each((index, item) => {
                const itemName = $(item).find(".item-name").text().toLowerCase();
                
                if (itemName.includes(searchTerm)) {
                    item.style.display = "";
                } else {
                    item.style.display = "none";
                }
            });

            updateCategoryVisibility();
        });
    });
</script>

{% endblock content %}
