{% extends "main/base.html" %}
{% block content %}
    {% load humanize %}
    {% load custom_tags %}

    <div class='container'>
    {% if not request.session.bazaar_mv_banner_dismissed %}
    <div class="alert alert-info alert-dismissible fade show mt-3" role="alert" id="bazaar-mv-banner">
        TE Market Value now also factors in bazaar averages, giving a more accurate lowest-of-three
        estimate alongside Torn's market value and our own item-market price. Your existing discount-based
        prices were automatically rebalanced so your effective price didn't change, but since bazaar
        averages are usually the lowest of the three, it's worth reviewing your profit margins below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="dismiss-bazaar-mv-banner"></button>
    </div>
    <script>
        document.getElementById('dismiss-bazaar-mv-banner').addEventListener('click', function() {
            fetch('{% url "dismiss_bazaar_mv_banner" %}', {method: 'POST', headers: {'X-CSRFToken': '{{ csrf_token }}'}});
        });
    </script>
    {% endif %}
    {% if user_settings.tutorial == True %}
        <div class="card small mt-3">
            <div class="card-header p-0 m-0">
                <h5 class='text-center card-header'>
                    Tutorial: Welcome to the Change Prices page
                </h5>
            </div>
            <div class="card-body m-0 p-3">
                <ul>
                    <li>
                        Click on a category to open the dropdown of all of its items. Next to each item you buy, you can
                        either add a set price or a discount value.
                    </li>
                    <li>
                        The discount value will output a price as a percentage of the market value (e.g. 2% profit
                        margin
                        means 98% of current market value).
                    </li>
                    <li>
                        If you have both a set price and a profit margin value, the trade list will automatically pick
                        the
                        lower of the two prices.
                    </li>
                    <li>
                        If you want to save time filling in buy prices for a category, you can simply enter a profit
                        margin value in that category's Auto-fill profit margin box (NOTE: This will override the
                        previous profit margin values for items in that category).
                    </li>
                    <li>
                        If you wish to remove item buy prices from your price list, you can either tick individual
                        items you wish to remove, or tick the checkbox at the top of a category to remove every item
                        in that category.
                    </li>
                    <li>
                        Once you have made all of your changes, click Submit and voila, your price list has been
                        successfully updated!
                    </li>
                    <li>
                        <b>Torn Market Value</b> - famous MV. It is calculated by the game once a day, at midnight.
                    </li>
                    <li>
                        <b>TE Market Value</b> - Torn Exchange's own MV. It is calculated once an hour by taking
                        into account Torn MV, 3 lowest bazaar prices and 3 lowest item market prices.
                    </li>
                </ul>
            </div>
            <div class="card-footer p-1 m-0">
                <small>To turn off help messages go to your <a href="{% url 'settings' %}">Settings</a>.</small>
            </div>
        </div>
    {% endif %}

    <h2 class="text-center mt-3 allerta-font p-2">Change your item buy prices below</h2>

    <div id="save-status" class="alert d-none mt-3" role="alert"></div>

    <hr>
    <div class="d-flex flex-wrap justify-content-center m-1 p-1 pt-0 mt-0">
        <button class='btn btn-primary float-right m-2 ml-4 d-lg-block' type="button"
                style="margin-top: 20px;" id="submit-prices"> Submit
        </button>
    </div>
    <div class="row">
        {% for item_category_name, item_category_list in category_dict.items %}
            <div class='card col-12 p-0 '>
                <div class='card-header text-center font-weight-bold m-0'>
                    {{ item_category_name }}
                </div>
                <div class='card-body m-0 p-0'>
                    {% for type in item_category_list %}
                        <div class="col-sm-12">
                            <a class="btn btn-secondary btn-square m-0" data-bs-toggle="collapse"
                               href="#collapse_{{ type|replace_spaces }}" role="button" aria-expanded="false"
                               aria-controls="collapseExample" style="width: 100%;">
                                {{ type|item_plurals }}
                            </a>
                            <br>
                            <div class="collapse" id="collapse_{{ type|replace_spaces }}" data-category="{{ type }}">
                                <div class="row">
                                    <div class="col-12 col-md-4 mb-2 mb-md-0">
                                        <label for="auto-fill-category">Auto-fill profit margin for category (%)</label>
                                        <div class='input-group m-1'>
                                            <input type="text" class="form-control price-edit auto-fill-category"
                                                   placeholder="0%"
                                                   name="auto_fill_category" oninput="validateNumber(this);"/>
                                            <button type="button" class="btn btn-success auto_fill_category_button">
                                                Fill
                                            </button>
                                        </div>

                                        <label for="auto-fill-enabled-category">Auto-fill enabled profit margins for category (%)</label>
                                        <div class='input-group m-1'>
                                            <input type="text" class="form-control price-edit auto-fill-enabled-category"
                                                   placeholder="0%"
                                                   name="auto_fill_category" oninput="validateNumber(this);"/>
                                            <button type="button" class="btn btn-success auto_fill_enabled_category_button">
                                                Fill
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 mb-2 mb-md-0 text-center">
                                        {% if type == 'Plushie' or type == 'Flower' %}
                                            Check {{ type|item_plurals }} price history with <br/>
                                            <a href='{% url "museum_helper" %}' target="_blank">Museum Helper</a>!
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-4 mb-2 mb-md-0 text-center justify-content-center">
                                        Tick to remove all items from category
                                        <div class="mt-1">
                                            <i class="fas fa-trash-alt m-2"></i> <input type="checkbox"
                                                                                        class='mark_category_delete'>
                                        </div>
                                    </div>
                                </div>
                                <div class="category-table-container" data-loaded="false">
                                    <div class="text-center p-4 category-loading">
                                        <div class="spinner-border" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <div class="mt-2">Loading items&hellip;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <br>
    </div>

    <br>

    <script type="text/javascript">
      var loadedCategories = new Set();
      var dirtyItemIds = new Set();
      var rowsById = new Map();

      function initTooltips(root) {
        var tooltipTriggerList = root.querySelectorAll('[data-bs-toggle="tooltip"]');
        [...tooltipTriggerList].forEach(el => new bootstrap.Tooltip(el));
      }

      function registerRows(container) {
        container.querySelectorAll('tr[data-item-id]').forEach(function (tr) {
          rowsById.set(tr.getAttribute('data-item-id'), tr);
        });
      }

      $(document).ready(function () {
        initTooltips(document);

        $('.collapse[data-category]').on('show.bs.collapse', function () {
          var collapseEl = this;
          var category = collapseEl.getAttribute('data-category');
          if (loadedCategories.has(category)) {
            return;
          }
          loadedCategories.add(category);

          var container = collapseEl.querySelector('.category-table-container');
          fetch('{% url "edit_price_list_category_fragment" %}?type=' + encodeURIComponent(category))
            .then(function (resp) {
              if (!resp.ok) {
                throw new Error('Failed to load category');
              }
              return resp.text();
            })
            .then(function (html) {
              container.innerHTML = html;
              container.dataset.loaded = 'true';
              registerRows(container);
              initTooltips(container);
            })
            .catch(function () {
              container.innerHTML = '<div class="text-center p-3 text-danger">Failed to load items. Try reopening this category.</div>';
              loadedCategories.delete(category);
            });
        });
      });

      function markDirty($row) {
        dirtyItemIds.add($row.data('itemId') + '');
        $row.addClass('row-dirty');
      }

      $('body').on('change', '.listing_price', function () {
        var parent = $(this).closest('tr');
        markDirty(parent);
        var listing_price = numberWOCommas($(this).val());
        var profit_margin = numberWOCommas(parent.find('.listing_discount').val());
        var market_value = numberWOCommas(removeDollar(parent.find('.market_value').html()));
        parent.find('.effective_price').html('$' + numberWithCommas(effective_price(listing_price, profit_margin, market_value)))
      });
      $('body').on('change', '.listing_discount', function () {
        var parent = $(this).closest('tr');
        markDirty(parent);
        var listing_price = numberWOCommas(parent.find('.listing_price').val());
        var profit_margin = numberWOCommas($(this).val());
        var market_value = numberWOCommas(removeDollar(parent.find('.market_value').html()));
        parent.find('.effective_price').html('$' + numberWithCommas(effective_price(listing_price, profit_margin, market_value)))
      });
      $('body').on('change', '.listing_delete', function () {
        var parent = $(this).closest('tr');
        markDirty(parent);
        parent.toggleClass('marked-for-delete', $(this).is(':checked'));
      });

      $('#submit-prices').click(function (e) {
        e.preventDefault();
        submitChanges();
      });

      $('.mark_category_delete').click(function () {
        var parent = $(this).closest('.collapse');
        var checked = $(this).is(':checked');
        parent.find('.listing_delete').prop("checked", checked).trigger('change');
      });
      $(".auto_fill_category_button").click(function () {
        var parent = $(this).closest('.collapse');
        var val = parent.find('.auto-fill-category').val();
        parent.find(".listing_discount").val(val);
        parent.find(".listing_discount").change();
      });

      $(".auto_fill_enabled_category_button").click(function () {
        var parent = $(this).closest('.collapse');
        var val = parent.find('.auto-fill-enabled-category').val();
        parent.find(".listing_discount").not('[value=""]').val(val);
        parent.find(".listing_discount").not('[value=""]').change();
      });

      function showSaveStatus(message, isError) {
        var el = document.getElementById('save-status');
        el.textContent = message;
        el.classList.remove('d-none', 'alert-success', 'alert-danger');
        el.classList.add(isError ? 'alert-danger' : 'alert-success');
      }

      function submitChanges() {
        if (dirtyItemIds.size === 0) {
          showSaveStatus('No changes to save.', false);
          return;
        }

        var items = [];
        dirtyItemIds.forEach(function (itemId) {
          var row = rowsById.get(itemId);
          if (!row) {
            return;
          }
          var $row = $(row);
          var isDelete = $row.find('.listing_delete').is(':checked');
          items.push({
            item_id: itemId,
            price: isDelete ? null : $row.find('.listing_price').val(),
            discount: isDelete ? null : $row.find('.listing_discount').val(),
            delete: isDelete
          });
        });

        document.body.style.cursor = 'wait';
        var submitBtn = document.getElementById('submit-prices');
        submitBtn.disabled = true;

        fetch('{% url "edit_price_list_save_items" %}', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({items: items})
        })
          .then(function (resp) { return resp.json(); })
          .then(function (data) {
            if (data.failed && data.failed.length > 0) {
              showSaveStatus('Saved, but ' + data.failed.length + ' item(s) failed to update.', true);
            } else {
              showSaveStatus('Your price list has been updated!', false);
            }
            dirtyItemIds.forEach(function (itemId) {
              var row = rowsById.get(itemId);
              if (row) { $(row).removeClass('marked-for-delete row-dirty'); }
            });
            dirtyItemIds.clear();
          })
          .catch(function () {
            showSaveStatus('Something went wrong saving your changes. Please try again.', true);
          })
          .finally(function () {
            document.body.style.cursor = 'default';
            submitBtn.disabled = false;
          });
      }

      function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if ((charCode > 31 && charCode < 48) || charCode > 57) {
          return false;
        }
        return true;
      }

      function isBlank(str) {
        return (!str || /^\s*$/.test(str));
      }

      function effective_price(price, discount, market_value) {
        if ((isNaN(discount)) && (isNaN(price))) {
          return '';
        }
        if ((isNaN(discount)) && (!isNaN(price))) {
          return Math.round(price);
        }
        if ((!isNaN(discount)) && (isNaN(price))) {
          var discount_fraction = (100.0 - parseFloat(discount)) / 100;
          var discount_price = Math.round(discount_fraction * market_value);
          return Math.round(discount_price);
        }
        if ((!isNaN(discount)) && (!isNaN(price))) {
          var discount_fraction = (100.0 - parseFloat(discount)) / 100;
          var discount_price = discount_fraction * Math.round(market_value);
          return Math.min.apply(null, [price, Math.round(discount_price)]);
        }
      }

      function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }

      function removeDollar(x) {
        return x.toString().replace('$', "");
      }

      function numberWOCommas(x) {
        x = x.toString().replace('$', "");
        return parseFloat(x.toString().replaceAll(/,/g, ''));
      }

      var validNumber = new RegExp(/^-?\d*\.?\d*$/);

      function validateNumber(elem) {
        // remove dots and commas from possible copy/paste
        let v = elem.value;
        // v = v.replace(",", "");
        // v = v.replace(".", "");
        // v = v.replace("$", "");
        if (validNumber.test(v)) {
          elem.value = v;
        } else {
          elem.value = '';
        }
      }

      $(document).on("keypress", function (e) {
        if (e.which == 13 && $(e.target).is('.listing_price, .listing_discount')) {
          e.preventDefault();
          submitChanges();
        }
      });
    </script>


{% endblock content %}
