{% extends "main/base.html" %}
{% block content %}
{%load crispy_forms_tags %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
<div class='container'>
    <div class='row'>
        <div class='col-md-3 col-sm-12'>
            <div class="p-2">
                <form method="get">
                    <div class="card mb-4">
                        <div class="card-header">Sort by rating</div>
                        <ul class="list-group list-group-flush">  
                            <li class="list-group-item py-1 my-0">
                                <input type="radio" name="order_by" value="-owner__vote_score" {% if order_by == '-owner__vote_score' %}checked{% endif %}>
                                <a href="?order_by=-owner__vote_score" class="small">Highest to Lowest</a>
                            </li>
                            <li class="list-group-item py-1 my-0">
                                <input type="radio" name="order_by" value="owner__vote_score" {% if order_by == 'owner__vote_score' %}checked{% endif %}>
                                <a href="?order_by=owner__vote_score" class="small">Lowest to Highest</a>
                            </li>
                        </ul>
                    </div>
                    {% for category, services in services_by_category.items %}
                        <div class="card mb-4">
                            <div class="card-header">
                                <input type="checkbox" name="category" value="{{ category }}" class="mark_category" {{ checked }}>
                                {{ category }}
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for service, checked in services %}
                                <li class="list-group-item py-1 my-0">
                                    <input type="checkbox" name="service" value="{{ service }}" {{ checked }}>
                                    <a href="?order_by={{ order_by }}&service={{ service|urlencode }}" class="small">{{ service }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    <button class='btn btn-primary'> Search </button>
                    <a href="{% url 'search_services' %}" class="btn btn-secondary">Reset</a>
                </form>
            </div>
        </div>
        <div class='col-md-9 col-sm-12'>
            <div class='row'>
                <div class="text-center col-12">
                    <h1 class="m-4 allerta-font text-center">
                        Search Custom Services
                    </h1>
                </div>
                <div class="text-center">
                    {% if not listings.object_list%}
                    <p>
                        {% if error %}
                        {{error}}
                        {% else %}
                        Sorry no listings were found!
                        {% endif %}
                    </p>
                    {% else %}
                    <p class="ml-5 p-0 m-0 text-left pb-2">
                        Here's a list of all services that Torn players provide.
                    </p>
                    <p class="ml-5 p-0 m-0 text-left pb-2">
                        There are two filters: by rating and by service name. You can check multiple services. Clicking checkbox by the category
                        selects all the services in that category. <br />
                        You can click on the service name or select checkbox next to it if you want to search multiple services at once. <br />
                        Search and Reset buttons are found at the bottom of the page.
                    </p>
                    <p class="ml-5 p-0 m-0 text-left pb-2">
                        Do you have a business of your own and want to advertise too? Join Torn Exchange and start making
                        your own service list now.
                    </p>
                    <p class="ml-5 p-0 m-0 pb-2">
                        <div class="btn btn-primary">
                            <a class="allerta-font h5" href="{% url 'edit_services' %}"> Add Your Service Now </a>
                        </div>
                    </p>
                    
                    {% endif %}
                </div>
                <hr />
                <br>

                <div class="text-center col-12">
                    {%include 'main/includes/pagination.html'%}
                </div>

                <small class="text-muted ml-4"> {{number_of_items}} services found in your search.</small>
                {% for listing in listings%}
                <div class='col-12'>
                    <div class='card listing-card m-0 mb-1 p-0'>
                        <div class="card-header m-0 p-0 py-1">
                            <div class="row p2">
                                <!-- Status Icon & Name -->
                                <div class="col-12 col-md-8 mb-2 mb-md-0">
                                    <div class="d-flex align-items-center">
                                        <div class="me-2" style="width: 30px;">
                                            {% if listing.owner.activity_status == 'Online' %}
                                                <img src="{% static '/main/images/crown-online.png' %}" style="width:30%;" title="Online" alt="Online">&nbsp;
                                            {% elif listing.owner.activity_status == 'Idle' %}
                                                <img src="{% static '/main/images/crown-idle.png' %}" style="width: 30%;" title="Idle" alt="Idle">&nbsp;
                                            {% elif listing.owner.activity_status == 'Offline' %}
                                                <img src="{% static '/main/images/crown-offline.png' %}" style="width: 30%;" title="Offline", alt="Offline">&nbsp;
                                            {% endif %}
                                        </div>
                                        <div class="text-gold">
                                                {{listing.owner.name}}[{{listing.owner.torn_id}}]
                                        </div>
                                        <div class="ms-3 text-gold">
                                            <i class="fas fa-star small mr-2 mb-2 size-2x">
                                            </i> {{listing.owner.vote_score}}
                                        </div>
                                    </div>
                                </div>

                                <!-- Action Buttons -->
                                <div class="col-12 col-md-4 py-1">
                                    <div class="d-flex justify-content-around gap-2">
                                         <a target="_blank" href="{% url 'services_list' listing.owner.name%}"
                                            class="badge badge-light text-black pl-2 pr-2"
                                            style="background-color: rgb(223, 239,243);"> Service List</a>
                                    
                                        <a target="_blank"
                                            href="https://www.torn.com/profiles.php?XID={{listing.owner.torn_id}}"
                                            class="badge badge-light text-black pl-2 pr-2"
                                            style="background-color: rgb(235, 244,225);"> Contact Now</a>
                                    
                                        <a target="_blank" href="https://tornpal.com/profile/{{listing.owner.torn_id}}?ref=2507441"
                                            class="badge badge-light text-black pl-2 pr-2"
                                            style="background-color: rgb(223, 239,243);"> TornPal</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-text">
                            <div class='row align-items-center'>
                                <!-- Item details -->
                                <div class="col-9 col-md-10">
                                    <div class='row'>
                                        <div class="col ms-2">
                                            <p class="mb-0">
                                                <strong>Service:</strong> {{listing.service.name}}
                                            </p>
                                            <p class="mb-0">
                                                <strong>Category:</strong> {{listing.service.category}}
                                            </p>
                                            <p class="mb-0">
                                                <strong>Asking Price:</strong>
                                                <a class='badge text-white b'>
                                                    ${{listing.money_price|intcomma}}
                                                </a>
                                            </p>
                                            <p class="mb-0">
                                                <strong>Price in items:</strong> {{listing.barter_price|sanitize_string}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pl-4 col-7 ms-2">
                                    <p class="mb-0">
                                        {{listing.offer_description|sanitize_string}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer mt-0">
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-user"></i> Player last active: {{listing.owner.last_active|time_since}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {%include 'main/includes/pagination.html'%}
        </div>

    </div>

    <!-- Footer -->
    {%include 'main/includes/footer.html'%}
</div>

<script type="text/javascript">
    $('.mark_category').click(function () {
        console.log("YAY!")
        var parent = $(this).closest('.mb-4');
        if ($(this).is(':checked')) {
            parent.find('input[name*="service"').prop("checked", true);
        } else {
            parent.find('input[name*="service"').prop("checked", false);
        }
    });
</script>

{% endblock %}