{% extends "main/base.html" %}
{% block content %}
{%load crispy_forms_tags %}
{% load humanize %}
{% load custom_tags %}
{% load static %}
<div class='container'>
    <div class='row'>
        <div class='col-md-3 col-sm-12'>
            <div class="p-2">
                <form method="GET">
                    {{myFilter.form|crispy}}
                    <button class='btn btn-primary'> Search </button>
                </form>
            </div>
            <hr />
            <div class="p-2">
                <h4>Full Service Tree:</h4>
                
                  <!-- <div class="container mt-4"> -->
                    <!-- Card for Category 1 -->
                    <div class="card mb-4">
                      <div class="card-header bg-primary text-white">
                        Category 1
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Service 1</li>
                        <li class="list-group-item">Service 2</li>
                      </ul>
                    </div>
                  
                    <!-- Card for Category 2 -->
                    <div class="card mb-4">
                      <div class="card-header bg-primary text-white">
                        Category 2
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Service 3</li>
                        <li class="list-group-item">Service 4</li>
                      </ul>
                    </div>
                  <!-- </div> -->
                  
            </div>
        </div>
        <div class='col-md-9 col-sm-12'>
            <div class='row'>
                <div class="text-center col-12">
                    <h3 class="m-4 allerta-font text-center">
                        Search Custom Services
                    </h3>
                </div>
                <div class="text-center">
                    {% if not listings.object_list%}
                    <p>
                        {% if error %}
                        {{error}}
                        {% else %}
                        Sorry no listings were found!
                        {% endif %}
                    </p>
                    {% else %}
                    <p class="ml-5 p-0 m-0 text-center pb-2">
                        Here's a list of all services that Torn players provide.
                    </p>
                    <p class="ml-5 p-0 m-0 text-center pb-2">
                        Do you have a business of your own and want to advertise too? Join Torn Exchange and start making
                        your own service list now.
                    </p>
                    <p class="ml-5 p-0 m-0 pb-2">
                        <div class="btn btn-dark">
                            <a class="allerta-font h5 text-white text-center" href="{% url 'edit_services' %}"> Create Service List Now </a>
                        </div>
                    </p>
                    
                    {% endif %}
                </div>
                <hr />
                <br>

                <div class="text-center col-12">
                    {%include 'main/includes/pagination.html'%}
                </div>

                <small class="text-muted ml-4"> {{number_of_items}} services found in your search.</small>
                {% for listing in listings%}
                <div class='col-12'>
                    <div class='card listing-card  m-0 mb-1 p-0'>
                        <div class="card-header m-0 p-0">
                            <div class="row pl-1 m-auto">
                                <div class="col-9 mb-0">
                                    <div class='row m-auto'>

                                        <div class="p-2 col-2 text-left">
                                            {% if listing.owner.activity_status == 'Online' %}
                                                <img src="{% static '/main/images/crown-online.png' %}" style="width:30%;" title="Online" alt="Online">
                                            {% elif listing.owner.activity_status == 'Idle' %}
                                                <img src="{% static '/main/images/crown-idle.png' %}" style="width: 30%;" title="Idle" alt="Idle">
                                            {% elif listing.owner.activity_status == 'Offline' %}
                                                <img src="{% static '/main/images/crown-offline.png' %}" style="width: 30%;" title="Offline", alt="Offline">
                                            {% endif %}
                                        </div>
                                        <div class="col text-left">
                                            <div class="pl-3 text-left">
                                                {{listing.owner.name}}[{{listing.owner.torn_id}}]
                                            </div>
                                        </div>
                                        <div class="pl-1 col">
                                            <i class="fas fa-star small mr-2 mb-2 size-2x">
                                            </i>{{listing.owner.vote_score}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">


                                        <div class="col">
                                            <a target="_blank" href="{% url 'services_list' listing.owner.name%}"
                                                class="badge badge-light text-black pl-2 pr-2"
                                                style="background-color: rgb(223, 239,243);"> Service Price List </a>
                                        </div>
                                        <div class="col">
                                            <a target="_blank"
                                                href="https://www.torn.com/profiles.php?XID={{listing.owner.torn_id}}"
                                                class="badge badge-light text-black pl-2 pr-2"
                                                style="background-color: rgb(235, 244,225);"> Contact Now </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-text">
                            <div class='row'>
                                <div class="pl-4 col-5">
                                    <div class='row'>
                                        <div class="col">
                                            <p class="mb-0">
                                                <strong>Service:</strong> {{listing.service.name}}
                                            </p>
                                            <p class="mb-0">
                                                <strong>Category:</strong> {{listing.service.category}}
                                            </p>
                                            <p class="mb-0">
                                                <strong>Asking Price:</strong>
                                                <a class=' badge badge-success text-black'>
                                                    ${{listing.money_price|intcomma}}
                                                </a>
                                            </p>
                                            <p class="mb-0">
                                                <strong>Price in items:</strong> {{listing.barter_price|sanitize_string}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pl-4 col-7">
                                    <p class="mb-0">
                                        {{listing.offer_description|sanitize_string}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer mt-0">
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-user"></i> Player last active: {{listing.owner.last_active|time_since}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {%include 'main/includes/pagination.html'%}
        </div>

    </div>

</div>

{% endblock %}