{% extends "main/base.html" %}
{% block content %}
{% load static %}
<div class='container'>
    <div class="row mt-12">
        <div class="card col-12 col-md p-0 m-1 shadow-sm">
            <div class="card-header bg-dark text-white py-3">
                <h4 class="mb-0">Terms of Service (ToS)</h4>
            </div>
            <div class="card-body p-4">
                <div class="alert alert-secondary mb-4">
                    <strong>Disclaimer:</strong> TornExchange.com is not affiliated with Torn City or Torn.com. We are
                    an independent third-party tool.
                </div>

                <div class="alert alert-primary mb-4">
                    <strong>By using / logging into / providing your key to TornExchange.com, you agree to the Terms Of Service as outlined below.</strong>
                </div>
                
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-gold">Data Storage</th>
                            <th class="text-gold">Data Sharing</th>
                            <th class="text-gold">Purpose of Use</th>
                            <th class="text-gold">Key Storage & Sharing</th>
                            <th class="text-gold">Key Access Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Will the data be stored for any purpose?</td>
                            <td>Who can access the data besides the end user?</td>
                            <td>What is the stored data being used for?</td>
                            <td>Will the API key be stored securely and who can access it?</td>
                            <td>What key access level or specific selections are required?</td>
                        </tr>
                        <tr>
                            <td>Your data will be persistent - until account deletion.</td>
                            <td>Your data will be viewable by users and guests of the Torn Exchange website.</td>
                            <td>
                                <p>Your API key will be used for the following purposes:</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Ensure you are an active, real player on Torn.com</li>
                                    <li class="list-group-item">To display your username and unique ID on TornExchange.com</li>
                                    <li class="list-group-item">To pull latest item prices from Torn API</li>
                                </ul>
                            </td>
                            <td>Your API key will be stored in a secure database. It will not be shared with any third parties
                        without your consent.</td>
                            <td> Limited Access </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    {%include 'main/includes/footer.html'%}
</div>
{% endblock %}