{% extends "main/base.html" %}
{% block content %}
{% load static %}
<div class='container'>
    <div class="row mt-3">
        <div class="card col-12 col-md p-0 m-1">
            <div class="card-header bg-dark text-white">
                Terms of Service (TOS)
            </div>
            <div class="card-body">
                <p>
                    <strong>Disclaimer:</strong> TornExchange.com is not affiliated with Torn City or Torn.com. We are
                    an independent third-party tool. 
                </p>
                <br/>
                <p>
                    <strong>By using/logging into/providing your key to TornExchange.com, you agree to the Terms Of Service as outlined below.</strong>
                </p>
                <br/>
                <p>
                    Torn Exchange was originally developed by HypoChris [2500210] so as to combine trading tools with a
                    sense of the greater trading community.
                </p>
                <h5>
                    Data Storage
                </h5>
                <p>
                    Your data will be persistent - until account deletion.
                </p>
                <h5>
                    Data Sharing
                </h5>
                <p>
                    Your data will be viewable by users and guests of the Torn Exchange website.
                </p>
                <h5>
                    Purpose of Use
                </h5>
                <p>
                    Your data & API key will be used for the following purposes:
                    <ul>
                        <li>Ensure you are an active, real player on Torn.com</li>
                        <li>To display your username and unique id on TornExchange.com</li>
                        <li>To carry out item lookups on Torn.com</li>
                        <li>To analyse the market value of items on Torn.com</li>
                    </ul>
                </p>
                <h5>
                    Key Storage & Sharing
                </h5>
                <p>
                    Your API key will be stored in a secure database. It will not be shared with any third parties
                    without your consent.
                </p>
                <h5>
                    Key Access Level
                </h5>
                <p>
                    Limited Access
                </p>
            </div>
        </div>

        <div class="card col-12 col-md-3 p-0 m-1">
            <div class="card-header bg-dark text-white">
                Contacts
            </div>
            <div class="card-body">
                <li>Ata [2507441]</li>
                <li>ReConnected [1286142]</li>
            </div>
        </div>
    </div>

    {%include 'main/includes/footer.html'%}
</div>


{% endblock %}