{% load static %}
<div class="row mt-3">
    <div class="card col-12 p-3 m-0">
        <div class="row">
            <div class="col-12 col-md-10 mt-2">Got a question? Found a bug? We have a <a href="https://discord.gg/8NstjM2fbb" target="_blank">Discord server</a> where we will be able to speak with you regarding
                any ideas, questions or problems you may have. To send us a message now, simply click on the icon!
            </div>
            <div class="col-12 col-md-2 text-center"><a href="https://discord.gg/8NstjM2fbb">
                <img src="{% static '/main/images/discord_logo.png' %}" 
                class="discord-logo"
                style="width: 60%;"
                title="Join us on Discord!"></a>
            </div>
        </div>
    </div>
</div>
