{% load custom_tags %}
<div class="pagination text-center justify-content-center align-items-center">
    {% if listings.has_previous %}
        <a href="?{% param_replace page=1 %}">First</a>&nbsp;
        <a href="?{% param_replace page=listings.previous_page_number %}">Previous</a>&nbsp;
    {% endif %}

    {% for num in listings.paginator.page_range%}
        {% if listings.number == num %}
            <a href="?{% param_replace page=num %}" class="p-1"><strong>{{num}}</strong></a>
            {% elif num > listings.number|add:'-8' and num < listings.number|add:'8' %} 
            <a href="?{% param_replace page=num %}" class="p-1">{{num}} </a>
        {%endif%}
    {% endfor %}

    {% if listings.has_next %}
        &nbsp;<a href="?{% param_replace page=listings.next_page_number %}">Next</a>
        &nbsp;<a href="?{% param_replace page=listings.paginator.num_pages %}">Last</a>
    {% endif %}
</div>